
$global-size: 16px;
$global-size-d: 16px;
$line-height: 1.618;
$line-height-d: 1.618;

$vertical-unit: $global-size * $line-height;
$u: $vertical-unit;

.clearfix{
	clear: both;
}

.quizu_admin_screen{

	ul, li{
		margin: 0;
	}

	.label{
		vertical-align: top;
		width: 200px;
		display: inline-block;
		margin: 0;
		margin-bottom: $u*2;

		&:last-of-type{
			margin-bottom: $u*3;
		}
	}

	.switch {
	  position: relative;
	  display: inline-block;
	  width: $u*1.3;
	  height: $u*.7;
	}

	.switch input {display:none;}

	.slider {
	  position: absolute;
	  cursor: pointer;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: #ccc;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	.slider:before {
	  position: absolute;
	  content: "";
	  height: $u*.5;
	  width: $u*.5;
	  left: 4px;
	  bottom: 3px;
	  background-color: white;
	  -webkit-transition: .4s;
	  transition: .4s;
	}

	input:checked + .slider {
	  background-color: #2196F3;
	}

	input:focus + .slider {
	  box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
	  -webkit-transform: translateX($u*.5);
	  -ms-transform: translateX($u*.5);
	  transform: translateX($u*.5);
	}

	/* Rounded sliders */
	.slider.round {
	  border-radius: 34px;
	}

	.slider.round:before {
	  border-radius: 50%;
	}

}

#quizu_questions{
	position: relative;

	h2.hndle{
		background: white;
	}

	.quizu_admin_screen{
		background: white;
		margin: 0 auto;
		max-width: $u*20;

		>.label{
			margin-bottom: $u*2;
		}

		@media screen and (min-width: 992px){
			margin-top: $u*2;
			margin-bottom: $u*1.5;
			padding-left: $u;
			padding-right: $u;
			box-shadow: 0 1px 1px rgba(0,0,0,.04);
			border: 1px solid #e5e5e5;
			padding-top: $u*2;
		}
	}

	.heading{
		font-size: $u*1.3;
		font-weight: bold;
		text-align: center;
		padding-bottom: $u*2;
		margin: 0;
	}

	.admin_divider{
		margin: 0;
		margin-bottom: $u*2;
		border-top: 0;
	}

	input, button, p, textarea, select{
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	}

	input{
		background: 0;
		box-shadow: none;
		border: 1px solid transparent;
		border-radius: $u/6;
		transition: border-bottom .5s;
		padding: $u/4;
		margin: 0;
		transition: 0.5s;

		&:focus{
			box-shadow: 0 1px 1px rgba(0,0,0,.04);
			border: 1px solid #e5e5e5;
		}
	}

	textarea{
		box-shadow: 0 1px 1px rgba(0,0,0,.04);
		border: 1px solid #e5e5e5;
		border-radius: $u/6;
		box-shadow: none;
		transition: 0.5s;

		&:focus{
			border: 2px solid transparent;
			box-shadow: 0px 4px 11px 2px rgba(79, 94, 101, 0.38);
		}
	}

	.collapse{
		cursor: pointer;
		cursor: hand;
		transition: 0.5s;
	}

	.link{
		display: block;
		font-size: $u*0.5;
		border-radius: $u/12;
		max-height: 25px;margin-top: 3px;

		option{
			&.hidden, &.finalize{
				display: none;
			}
		}

		&.second{
			margin-left: $u/2;
			display: block;
		}

		&.results_by_score{
			option[data-result="true"]{
				display: none !important;
			}

			option.finalize{
				display: inline-block;
			}
		}

		max-width: 100px;

		@media screen and (min-width: 350px){
			max-width: 137px;
		}

		@media screen and (min-width: 500px){
			max-width: 200px;
			display: inline-block;
			margin-left: $u;
			vertical-align: super;
		}
	}

	#results_criteria{
		display: inline;
		float: right;
		width: 20%;

		@media screen and (min-width: 384px){
			float: none;
			width: auto;
		}
	}

	.controller.new_result{
		margin-top: $u*2;
		margin-bottom: $u*2;
	}

	.controller.new_path, .controller.new_result{
		float: right;
		display: inline-block;
		padding: 0;
		margin-left: 50%;

		@media screen and (min-width: 400px){
			margin-left: 0;
		}
	}

	.controller.new{
		i{
			color: #60af60;
		}
	}

	.image label{
		i{
			color: #64649e;
		}
	}

	.controller.delete{
		i{
			color: #d07272;
		}
	}

	.controller.update{
		display: none !important;
	}

	.clear{
		clear: both;
	}

	input.title{
		width: 100%;
		margin-right: 0;
		margin-top: 0;
		text-transform: capitalize;
		font-weight: bold;

		&.path{
			font-size: $u*.8;
		}

		&.result{
			font-size: $u*.8;
			font-weight: bold;
		}

	}

	button{
		font-size: $u*0.5;
		border: 0;
		background: 0;
		box-shadow: none;
		outline: 0;
		border-radius: 5px;
	}

	button, select{
		cursor: hand;
		cursor: pointer;
	}

	.switch.main{
		float: right;

		@media screen and (min-width: 400px){
			float: none;
		}
	}

	.buttons{
		padding-left: $u/2;
		padding-right: $u/2;

		button:first-of-type{
			padding-left: 0;
		}
	}

	.image{
		width: auto;
		display: inline-block;
		text-align: center;

		img{
			vertical-align: text-bottom;
			height: 30px;
			width: 30px;
		}

		label{
			font-size: $u*0.5;
			position: relative;
			display: inline-block;
			vertical-align: super;
			top: 50%;
		}

		.controller.delete{/* GENERALIZE */

			.fa-remove{
				display: inline-block;
			}
		}
	}

	div.path{
		display: inline-block;
		position: relative;
		padding-top: $u*2;
		padding-bottom: $u*2;
		border-bottom: 1px solid #f1f1f1;
		transition: 0.5s;
		width: 100%;

		.wraper{
			.buttons{
				padding-top: $u*0.5;
				padding-bottom: $u*1.2;
			}

			.collapse{
				top: $u*2.5;
				transition: 0.5s;
			}
		}

		.collapse{
			position: absolute;
			font-size: $u*.618;
			right: 0;
			top: $u;
			z-index: 10;

			@media screen and (min-width: 650px){
				right: $u/2;
			}

		}

		.wp-picker-container{
			float: right;
			z-index: 10;
			display: inline;
			transform: translateY($u/2);
			position: relative;

			.wp-color-result{
				margin: 0;
			}

			.wp-picker-holder{
				position: absolute;
			}

			@media screen and (min-width: 363px){
				transform: none;
			}

			@media screen and (min-width: 992px){
				transform: translateY(-15%);
			}
		}

		&.collapsed{
			padding-top: $u/2;
			padding-bottom: $u*.75;

			.wraper, .buttons{
				padding-bottom: 0;
			}

			.wraper{
				.title{
					margin-bottom: 0;
				}

				.collapse{
					top: $u*1.25;
				}
			}
		}
	}

	ul.container{

		&.questions{
			padding-top: $u/2;
		}

		&.options{
			box-shadow: 0 1px 1px rgba(0,0,0,.04);
			border: 1px solid #e5e5e5;
			margin-top: $u*2;
			padding: $u/2;
			padding-top: 0;
			padding-bottom: 0;
		}
	}

	li.question{
		position: relative;
		padding-top: $u;
		padding-bottom: $u*2;
		transition: padding 0.5s;

		.question.title{
			padding: $u/2;
			width: 100%;
			height: $u*3;
			margin-bottom: $u;
			box-shadow: 0 1px 1px rgba(0,0,0,.04);
			border: 1px solid #e5e5e5;
			font-weight: bold;
		}

		.sort_handle{
			cursor: pointer;
			font-size: $u/2;
			cursor: hand;
			position: absolute;
			top: 0;
			right: $u*1.5;
			transition: 0.5s;
			visibility: hidden;
			opacity: 0;

			@media screen and (min-width: 992px){
				right: $u*2.5;
			}
		}

		.collapse{
			top: 0;
			right: $u/2;

			@media screen and (min-width: 992px){
				right: $u*1.5;
			}
		}

		.image, .score_container{
			position: absolute;
			right: $u/2;
			
			@media screen and (min-width: 650px){
				right: $u;
			}
		}

		.buttons{
			@media screen and (min-width: 425px){
				display: inline-block;
			}
		}

		.essay_switch, .multiple_choice_switch {
			width: auto;
			position: relative;
			text-align: right;
			padding-right: $u/2;
			padding-top: $u;

			p.label{
				width: auto;
				margin: 0;
			}

			.switch{
				margin-left: $u/8;
			}

			@media screen and (min-width: 425px){
				padding-top: 0;
				display: inline-block;
				float: right;
			}
		}

		.essay_option{
			display: none;
			.link{
				margin-top: $u/2;
				&.main{
					margin-left: 0;	
				}
			}
		}

		label.essay{
			font-weight: bold;
		}

		&.essay_type{
			.essay_option{
				display: block;
			}

			.image{
				bottom: auto;
				top: $u*1.5;
			}

			.score_container{
				top: 0;
				right: $u/2;
			}

			li:not(.essay_option){
				display: none;
			}
		}

		.multiple_choice_switch{
			padding-top: $u/4;
		}

		.image{
			bottom: 0;
		}

		.score_container{
			top: $u;
		}		

		&.multiple_choice:not(.essay_type){
			.option.not_essay ~ .option{
				.link{
					display: none;
				}
			}
		}

		&.collapsed{
			padding-top: $u/2;
			padding-bottom: $u/2;

			.title{
				height: $u;
				margin-top: 0;
				margin-bottom: 0;
				padding-top: 0;
				padding-bottom: 0;
				resize: none;
				background-color: #f7f7f7;
				box-shadow: 0 1px 1px rgba(0,0,0,.04);
				border: 1px solid #e5e5e5;
				overflow: hidden;

				&:focus{
					background-color: white;
				}
			}

			.collapse, .sort_handle{
				top: $u*0.8;
			}

			.sort_handle{
				visibility: visible;
				opacity: 1;
			}
		}

		&:last-of-type{
			padding-bottom: 0;
		}

		@media screen and (min-width: 992px){
			padding-right: $u;
			padding-left: $u;
		}
	}

	li.option{
		padding-top: $u;
		border-top: 1px solid whitesmoke;
		padding-bottom: $u*1.5;
		position: relative;

		.controller.delete, .image{
			display: inline-block;
			vertical-align: super;
		}

		.title{
			width: 70%;
			display: block;
			margin-left: $u/4;
		}

		.score_container{
			line-height: $u;
			padding-top: $u/4;

			label{
				vertical-align: top;
			}

			.score{
				width: 35px;
				padding: 0;
				margin: 0;
				text-align: right;
				display: inline;
				margin: 0;
				margin-left: $u/8;
				padding-left: $u/8;
				padding-right: $u/8;
			}
		}

		.buttons{
			width: auto;
			display: inline-block;
		}

		.image{
			bottom: $u*1.5;
			overflow: hidden;

			label{
				display: inline-block;
			}

			.uploaded_image{
				display: none;
			}

			.image_delete{
				display: none;
				position: initial;
			}

			&.uploaded{
				label{
					display: none;
				}

				.uploaded_image{
					display: inline;
				}

				.image_delete{
					display: inline-block;
					padding-right: 0;
				}
			}
		}

		.essay_options{
			padding-top: $u;
		}

		.essay_label{
			display: inline-block;
			padding-left: $u/2;
			line-height: $u;
			margin: 0;

			@media screen and (min-width: 550px){
				padding-left: $u/2;
			}	
		}

		.new_essay{
			float: right;
			line-height: $u;
			padding-right: $u/2;
		}

		.remove_essay{
			position: absolute;
			padding-right: 0;
			bottom: 0;
			right: $u/2;
			top: $u*1.5;
		}

		.essay_answer{
			margin-left: $u/4;
		}

		.essay{
			position: relative;
			margin-bottom: $u*2;

			&:after{
				content: '';
				display: block;
				position: absolute;
				height: 1px;
				width: 100%;
				padding-top: $u*1.25;
				border-bottom: 1px solid whitesmoke;
			}

			&:last-of-type{
				margin-bottom: 0;

				&:after{
					display: none;
				}
			}
		}

		&:first-of-type, &.essay_option, &.essay_option:first-of-type + .not_essay{
			border-top: 0;
		}

		@media screen and (min-width: 992px){
			padding-left: $u/2;
			padding-right: $u/2;
		}
	}

	div.result{
		padding-top: $u*1.5;
		padding-bottom: $u*1.5;
		border-bottom: 1px solid #f1f1f1;
		position: relative;
		transition: 0.5s;

		textarea{
			height: 500px;
		}

		.title.result{
			margin-bottom: $u/2;
		}

		.collapse{
			position: absolute;
			top: $u*2;
			right: $u/2;
			transition: 0.5s;
		}

		.delete_result{
			vertical-align: text-top;
		}

		.scores, .highest{
			@media screen and (min-width: 364px){
				float: right;
			}
		}

		.range{
			width: 60px;
			text-align: right;
			width: 35px;
			padding: 0;
			vertical-align: sub;

			&.min{
				margin-right: $u/2;
			}
		}

		label{
			vertical-align: middle;
		}

		.buttons{
			padding-top: $u;

			&.results_by_total{
				.scores{
					display: inline-block;
				}

				.highest{
					display: none;
				}
			}

			&.results_by_option{
				.scores{
					display: none;
				}
				
				.highest{
					display: inline-block;
					transform: translateY(-$u/3);
				}
			}
		}

		.wp-editor-tools{
			> * >:not(.insert-media):not(.wp-switch-editor){
				display: none;
			}
		}

		.wp-switch-editor{
			display: none;
		}

		&.collapsed{
			padding-top: $u/2;
			padding-bottom: $u;

			.title{
				margin-bottom: 0;
			}

			.collapse{
				top: $u*1.25;
			}
		}
	}

	.collapsed {
		>:not(.title):not(.collapse):not(.sort_handle):not(.wraper):not(.buttons),
		.buttons .new{
			display: none !important;
		}
	}

	@media screen and (min-width: 992px){
		background: #f7f7f7;
	}
}

#quizu_settings{
	padding-top: 10px;
	margin-left: 2px;
	margin-right: 20px;

	.tag_notice{
		margin-top: 30px;
		margin-bottom: 60px;

		p{
			font-size: 1.08em;

			&:nth-child(2){
				font-size: 1.19em;

				span{
					font-weight: bold;
				}
			}
		}
	}

	h1{
		font-size: 23px;
		font-weight: normal;
		padding-top: 9px;
		padding-bottom: 4px;
		line-height: 29px;
		margin: 0;
	}

	h2{
		font-weight: 600;
		font-size: 16.9px;
		margin-bottom: 17px;
		line-height: 1.4em;
	}

	label:not(.switch),
	.label{
		font-weight: 600;
		vertical-align: top;

		@media screen and (min-width: 992px){
			width: 200px;
			display: inline-block;
			padding-right: $u;
		}
	}

	select{

		@media screen and (min-width: 992px){
			width: $u*7;
		}
	}

	textarea{
		@media screen and (min-width: 992px){
			width: 61.8%;
			min-height: 64px;
		}
	}

	.switch, .wp-color-result, label, .label, textarea, select{
			margin-bottom: $u*1.25;
	}

	.option{

		.container{
			display: inline-block;
			width: calc(100% - 230px);
			vertical-align: top;
		}

		&:first-of-type{
			padding-top: 27px;
		}
	}
	
	.submit{
		margin-top: 20px;
		margin-bottom: 25px;
	}
}

.hidden{
	display: none !important;
}