.clearfix {
  clear: both; }

.quizu_admin_screen {
  /* Rounded sliders */ }
  .quizu_admin_screen ul, .quizu_admin_screen li {
    margin: 0; }
  .quizu_admin_screen .label {
    vertical-align: top;
    width: 200px;
    display: inline-block;
    margin: 0;
    margin-bottom: 51.776px; }
    .quizu_admin_screen .label:last-of-type {
      margin-bottom: 77.664px; }
  .quizu_admin_screen .switch {
    position: relative;
    display: inline-block;
    width: 33.6544px;
    height: 18.1216px; }
  .quizu_admin_screen .switch input {
    display: none; }
  .quizu_admin_screen .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s; }
  .quizu_admin_screen .slider:before {
    position: absolute;
    content: "";
    height: 12.944px;
    width: 12.944px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s; }
  .quizu_admin_screen input:checked + .slider {
    background-color: #2196F3; }
  .quizu_admin_screen input:focus + .slider {
    box-shadow: 0 0 1px #2196F3; }
  .quizu_admin_screen input:checked + .slider:before {
    -webkit-transform: translateX(12.944px);
    -ms-transform: translateX(12.944px);
    transform: translateX(12.944px); }
  .quizu_admin_screen .slider.round {
    border-radius: 34px; }
  .quizu_admin_screen .slider.round:before {
    border-radius: 50%; }

#quizu_questions {
  position: relative; }
  #quizu_questions h2.hndle {
    background: white; }
  #quizu_questions .quizu_admin_screen {
    background: white;
    margin: 0 auto;
    max-width: 517.76px; }
    #quizu_questions .quizu_admin_screen > .label {
      margin-bottom: 51.776px; }
    @media screen and (min-width: 992px) {
      #quizu_questions .quizu_admin_screen {
        margin-top: 51.776px;
        margin-bottom: 38.832px;
        padding-left: 25.888px;
        padding-right: 25.888px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        border: 1px solid #e5e5e5;
        padding-top: 51.776px; } }
  #quizu_questions .heading {
    font-size: 33.6544px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 51.776px;
    margin: 0; }
  #quizu_questions .admin_divider {
    margin: 0;
    margin-bottom: 51.776px;
    border-top: 0; }
  #quizu_questions input, #quizu_questions button, #quizu_questions p, #quizu_questions textarea, #quizu_questions select {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif; }
  #quizu_questions input {
    background: 0;
    box-shadow: none;
    border: 1px solid transparent;
    border-radius: 4.31467px;
    transition: border-bottom .5s;
    padding: 6.472px;
    margin: 0;
    transition: 0.5s; }
    #quizu_questions input:focus {
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      border: 1px solid #e5e5e5; }
  #quizu_questions textarea {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e5e5;
    border-radius: 4.31467px;
    box-shadow: none;
    transition: 0.5s; }
    #quizu_questions textarea:focus {
      border: 2px solid transparent;
      box-shadow: 0px 4px 11px 2px rgba(79, 94, 101, 0.38); }
  #quizu_questions .collapse {
    cursor: pointer;
    cursor: hand;
    transition: 0.5s; }
  #quizu_questions .link {
    display: block;
    font-size: 12.944px;
    border-radius: 2.15733px;
    max-height: 25px;
    margin-top: 3px;
    max-width: 100px; }
    #quizu_questions .link option.hidden, #quizu_questions .link option.finalize {
      display: none; }
    #quizu_questions .link.second {
      margin-left: 12.944px;
      display: block; }
    #quizu_questions .link.results_by_score option[data-result="true"] {
      display: none !important; }
    #quizu_questions .link.results_by_score option.finalize {
      display: inline-block; }
    @media screen and (min-width: 350px) {
      #quizu_questions .link {
        max-width: 137px; } }
    @media screen and (min-width: 500px) {
      #quizu_questions .link {
        max-width: 200px;
        display: inline-block;
        margin-left: 25.888px;
        vertical-align: super; } }
  #quizu_questions #results_criteria {
    display: inline;
    float: right;
    width: 20%; }
    @media screen and (min-width: 384px) {
      #quizu_questions #results_criteria {
        float: none;
        width: auto; } }
  #quizu_questions .controller.new_result {
    margin-top: 51.776px;
    margin-bottom: 51.776px; }
  #quizu_questions .controller.new_path, #quizu_questions .controller.new_result {
    float: right;
    display: inline-block;
    padding: 0;
    margin-left: 50%; }
    @media screen and (min-width: 400px) {
      #quizu_questions .controller.new_path, #quizu_questions .controller.new_result {
        margin-left: 0; } }
  #quizu_questions .controller.new i {
    color: #60af60; }
  #quizu_questions .image label i {
    color: #64649e; }
  #quizu_questions .controller.delete i {
    color: #d07272; }
  #quizu_questions .controller.update {
    display: none !important; }
  #quizu_questions .clear {
    clear: both; }
  #quizu_questions input.title {
    width: 100%;
    margin-right: 0;
    margin-top: 0;
    text-transform: capitalize;
    font-weight: bold; }
    #quizu_questions input.title.path {
      font-size: 20.7104px; }
    #quizu_questions input.title.result {
      font-size: 20.7104px;
      font-weight: bold; }
  #quizu_questions button {
    font-size: 12.944px;
    border: 0;
    background: 0;
    box-shadow: none;
    outline: 0;
    border-radius: 5px; }
  #quizu_questions button, #quizu_questions select {
    cursor: hand;
    cursor: pointer; }
  #quizu_questions .switch.main {
    float: right; }
    @media screen and (min-width: 400px) {
      #quizu_questions .switch.main {
        float: none; } }
  #quizu_questions .buttons {
    padding-left: 12.944px;
    padding-right: 12.944px; }
    #quizu_questions .buttons button:first-of-type {
      padding-left: 0; }
  #quizu_questions .image {
    width: auto;
    display: inline-block;
    text-align: center; }
    #quizu_questions .image img {
      vertical-align: text-bottom;
      height: 30px;
      width: 30px; }
    #quizu_questions .image label {
      font-size: 12.944px;
      position: relative;
      display: inline-block;
      vertical-align: super;
      top: 50%; }
    #quizu_questions .image .controller.delete {
      /* GENERALIZE */ }
      #quizu_questions .image .controller.delete .fa-remove {
        display: inline-block; }
  #quizu_questions div.path {
    display: inline-block;
    position: relative;
    padding-top: 51.776px;
    padding-bottom: 51.776px;
    border-bottom: 1px solid #f1f1f1;
    transition: 0.5s;
    width: 100%; }
    #quizu_questions div.path .wraper .buttons {
      padding-top: 12.944px;
      padding-bottom: 31.0656px; }
    #quizu_questions div.path .wraper .collapse {
      top: 64.72px;
      transition: 0.5s; }
    #quizu_questions div.path .collapse {
      position: absolute;
      font-size: 15.99878px;
      right: 0;
      top: 25.888px;
      z-index: 10; }
      @media screen and (min-width: 650px) {
        #quizu_questions div.path .collapse {
          right: 12.944px; } }
    #quizu_questions div.path .wp-picker-container {
      float: right;
      z-index: 10;
      display: inline;
      transform: translateY(12.944px);
      position: relative; }
      #quizu_questions div.path .wp-picker-container .wp-color-result {
        margin: 0; }
      #quizu_questions div.path .wp-picker-container .wp-picker-holder {
        position: absolute; }
      @media screen and (min-width: 363px) {
        #quizu_questions div.path .wp-picker-container {
          transform: none; } }
      @media screen and (min-width: 992px) {
        #quizu_questions div.path .wp-picker-container {
          transform: translateY(-15%); } }
    #quizu_questions div.path.collapsed {
      padding-top: 12.944px;
      padding-bottom: 19.416px; }
      #quizu_questions div.path.collapsed .wraper, #quizu_questions div.path.collapsed .buttons {
        padding-bottom: 0; }
      #quizu_questions div.path.collapsed .wraper .title {
        margin-bottom: 0; }
      #quizu_questions div.path.collapsed .wraper .collapse {
        top: 32.36px; }
  #quizu_questions ul.container.questions {
    padding-top: 12.944px; }
  #quizu_questions ul.container.options {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
    border: 1px solid #e5e5e5;
    margin-top: 51.776px;
    padding: 12.944px;
    padding-top: 0;
    padding-bottom: 0; }
  #quizu_questions li.question {
    position: relative;
    padding-top: 25.888px;
    padding-bottom: 51.776px;
    transition: padding 0.5s; }
    #quizu_questions li.question .question.title {
      padding: 12.944px;
      width: 100%;
      height: 77.664px;
      margin-bottom: 25.888px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
      border: 1px solid #e5e5e5;
      font-weight: bold; }
    #quizu_questions li.question .sort_handle {
      cursor: pointer;
      font-size: 12.944px;
      cursor: hand;
      position: absolute;
      top: 0;
      right: 38.832px;
      transition: 0.5s;
      visibility: hidden;
      opacity: 0; }
      @media screen and (min-width: 992px) {
        #quizu_questions li.question .sort_handle {
          right: 64.72px; } }
    #quizu_questions li.question .collapse {
      top: 0;
      right: 12.944px; }
      @media screen and (min-width: 992px) {
        #quizu_questions li.question .collapse {
          right: 38.832px; } }
    #quizu_questions li.question .image, #quizu_questions li.question .score_container {
      position: absolute;
      right: 12.944px; }
      @media screen and (min-width: 650px) {
        #quizu_questions li.question .image, #quizu_questions li.question .score_container {
          right: 25.888px; } }
    @media screen and (min-width: 425px) {
      #quizu_questions li.question .buttons {
        display: inline-block; } }
    #quizu_questions li.question .essay_switch, #quizu_questions li.question .multiple_choice_switch {
      width: auto;
      position: relative;
      text-align: right;
      padding-right: 12.944px;
      padding-top: 25.888px; }
      #quizu_questions li.question .essay_switch p.label, #quizu_questions li.question .multiple_choice_switch p.label {
        width: auto;
        margin: 0; }
      #quizu_questions li.question .essay_switch .switch, #quizu_questions li.question .multiple_choice_switch .switch {
        margin-left: 3.236px; }
      @media screen and (min-width: 425px) {
        #quizu_questions li.question .essay_switch, #quizu_questions li.question .multiple_choice_switch {
          padding-top: 0;
          display: inline-block;
          float: right; } }
    #quizu_questions li.question .essay_option {
      display: none; }
      #quizu_questions li.question .essay_option .link {
        margin-top: 12.944px; }
        #quizu_questions li.question .essay_option .link.main {
          margin-left: 0; }
    #quizu_questions li.question label.essay {
      font-weight: bold; }
    #quizu_questions li.question.essay_type .essay_option {
      display: block; }
    #quizu_questions li.question.essay_type .image {
      bottom: auto;
      top: 38.832px; }
    #quizu_questions li.question.essay_type .score_container {
      top: 0;
      right: 12.944px; }
    #quizu_questions li.question.essay_type li:not(.essay_option) {
      display: none; }
    #quizu_questions li.question .multiple_choice_switch {
      padding-top: 6.472px; }
    #quizu_questions li.question .image {
      bottom: 0; }
    #quizu_questions li.question .score_container {
      top: 25.888px; }
    #quizu_questions li.question.multiple_choice:not(.essay_type) .option.not_essay ~ .option .link {
      display: none; }
    #quizu_questions li.question.collapsed {
      padding-top: 12.944px;
      padding-bottom: 12.944px; }
      #quizu_questions li.question.collapsed .title {
        height: 25.888px;
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        resize: none;
        background-color: #f7f7f7;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
        border: 1px solid #e5e5e5;
        overflow: hidden; }
        #quizu_questions li.question.collapsed .title:focus {
          background-color: white; }
      #quizu_questions li.question.collapsed .collapse, #quizu_questions li.question.collapsed .sort_handle {
        top: 20.7104px; }
      #quizu_questions li.question.collapsed .sort_handle {
        visibility: visible;
        opacity: 1; }
    #quizu_questions li.question:last-of-type {
      padding-bottom: 0; }
    @media screen and (min-width: 992px) {
      #quizu_questions li.question {
        padding-right: 25.888px;
        padding-left: 25.888px; } }
  #quizu_questions li.option {
    padding-top: 25.888px;
    border-top: 1px solid whitesmoke;
    padding-bottom: 38.832px;
    position: relative; }
    #quizu_questions li.option .controller.delete, #quizu_questions li.option .image {
      display: inline-block;
      vertical-align: super; }
    #quizu_questions li.option .title {
      width: 70%;
      display: block;
      margin-left: 6.472px; }
    #quizu_questions li.option .score_container {
      line-height: 25.888px;
      padding-top: 6.472px; }
      #quizu_questions li.option .score_container label {
        vertical-align: top; }
      #quizu_questions li.option .score_container .score {
        width: 35px;
        padding: 0;
        margin: 0;
        text-align: right;
        display: inline;
        margin: 0;
        margin-left: 3.236px;
        padding-left: 3.236px;
        padding-right: 3.236px; }
    #quizu_questions li.option .buttons {
      width: auto;
      display: inline-block; }
    #quizu_questions li.option .image {
      bottom: 38.832px;
      overflow: hidden; }
      #quizu_questions li.option .image label {
        display: inline-block; }
      #quizu_questions li.option .image .uploaded_image {
        display: none; }
      #quizu_questions li.option .image .image_delete {
        display: none;
        position: initial; }
      #quizu_questions li.option .image.uploaded label {
        display: none; }
      #quizu_questions li.option .image.uploaded .uploaded_image {
        display: inline; }
      #quizu_questions li.option .image.uploaded .image_delete {
        display: inline-block;
        padding-right: 0; }
    #quizu_questions li.option .essay_options {
      padding-top: 25.888px; }
    #quizu_questions li.option .essay_label {
      display: inline-block;
      padding-left: 12.944px;
      line-height: 25.888px;
      margin: 0; }
      @media screen and (min-width: 550px) {
        #quizu_questions li.option .essay_label {
          padding-left: 12.944px; } }
    #quizu_questions li.option .new_essay {
      float: right;
      line-height: 25.888px;
      padding-right: 12.944px; }
    #quizu_questions li.option .remove_essay {
      position: absolute;
      padding-right: 0;
      bottom: 0;
      right: 12.944px;
      top: 38.832px; }
    #quizu_questions li.option .essay_answer {
      margin-left: 6.472px; }
    #quizu_questions li.option .essay {
      position: relative;
      margin-bottom: 51.776px; }
      #quizu_questions li.option .essay:after {
        content: '';
        display: block;
        position: absolute;
        height: 1px;
        width: 100%;
        padding-top: 32.36px;
        border-bottom: 1px solid whitesmoke; }
      #quizu_questions li.option .essay:last-of-type {
        margin-bottom: 0; }
        #quizu_questions li.option .essay:last-of-type:after {
          display: none; }
    #quizu_questions li.option:first-of-type, #quizu_questions li.option.essay_option, #quizu_questions li.option.essay_option:first-of-type + .not_essay {
      border-top: 0; }
    @media screen and (min-width: 992px) {
      #quizu_questions li.option {
        padding-left: 12.944px;
        padding-right: 12.944px; } }
  #quizu_questions div.result {
    padding-top: 38.832px;
    padding-bottom: 38.832px;
    border-bottom: 1px solid #f1f1f1;
    position: relative;
    transition: 0.5s; }
    #quizu_questions div.result textarea {
      height: 500px; }
    #quizu_questions div.result .title.result {
      margin-bottom: 12.944px; }
    #quizu_questions div.result .collapse {
      position: absolute;
      top: 51.776px;
      right: 12.944px;
      transition: 0.5s; }
    #quizu_questions div.result .delete_result {
      vertical-align: text-top; }
    @media screen and (min-width: 364px) {
      #quizu_questions div.result .scores, #quizu_questions div.result .highest {
        float: right; } }
    #quizu_questions div.result .range {
      width: 60px;
      text-align: right;
      width: 35px;
      padding: 0;
      vertical-align: sub; }
      #quizu_questions div.result .range.min {
        margin-right: 12.944px; }
    #quizu_questions div.result label {
      vertical-align: middle; }
    #quizu_questions div.result .buttons {
      padding-top: 25.888px; }
      #quizu_questions div.result .buttons.results_by_total .scores {
        display: inline-block; }
      #quizu_questions div.result .buttons.results_by_total .highest {
        display: none; }
      #quizu_questions div.result .buttons.results_by_option .scores {
        display: none; }
      #quizu_questions div.result .buttons.results_by_option .highest {
        display: inline-block;
        transform: translateY(-8.62933px); }
    #quizu_questions div.result .wp-editor-tools > * > :not(.insert-media):not(.wp-switch-editor) {
      display: none; }
    #quizu_questions div.result .wp-switch-editor {
      display: none; }
    #quizu_questions div.result.collapsed {
      padding-top: 12.944px;
      padding-bottom: 25.888px; }
      #quizu_questions div.result.collapsed .title {
        margin-bottom: 0; }
      #quizu_questions div.result.collapsed .collapse {
        top: 32.36px; }
  #quizu_questions .collapsed > :not(.title):not(.collapse):not(.sort_handle):not(.wraper):not(.buttons),
  #quizu_questions .collapsed .buttons .new {
    display: none !important; }
  @media screen and (min-width: 992px) {
    #quizu_questions {
      background: #f7f7f7; } }

#quizu_settings {
  padding-top: 10px;
  margin-left: 2px;
  margin-right: 20px; }
  #quizu_settings .tag_notice {
    margin-top: 30px;
    margin-bottom: 60px; }
    #quizu_settings .tag_notice p {
      font-size: 1.08em; }
      #quizu_settings .tag_notice p:nth-child(2) {
        font-size: 1.19em; }
        #quizu_settings .tag_notice p:nth-child(2) span {
          font-weight: bold; }
  #quizu_settings h1 {
    font-size: 23px;
    font-weight: normal;
    padding-top: 9px;
    padding-bottom: 4px;
    line-height: 29px;
    margin: 0; }
  #quizu_settings h2 {
    font-weight: 600;
    font-size: 16.9px;
    margin-bottom: 17px;
    line-height: 1.4em; }
  #quizu_settings label:not(.switch),
  #quizu_settings .label {
    font-weight: 600;
    vertical-align: top; }
    @media screen and (min-width: 992px) {
      #quizu_settings label:not(.switch),
      #quizu_settings .label {
        width: 200px;
        display: inline-block;
        padding-right: 25.888px; } }
  @media screen and (min-width: 992px) {
    #quizu_settings select {
      width: 181.216px; } }
  @media screen and (min-width: 992px) {
    #quizu_settings textarea {
      width: 61.8%;
      min-height: 64px; } }
  #quizu_settings .switch, #quizu_settings .wp-color-result, #quizu_settings label, #quizu_settings .label, #quizu_settings textarea, #quizu_settings select {
    margin-bottom: 32.36px; }
  #quizu_settings .option .container {
    display: inline-block;
    width: calc(100% - 230px);
    vertical-align: top; }
  #quizu_settings .option:first-of-type {
    padding-top: 27px; }
  #quizu_settings .submit {
    margin-top: 20px;
    margin-bottom: 25px; }

.hidden {
  display: none !important; }
